@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  z-index: 5;
  padding: 10px 300px 10px 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 85%;
  position: fixed;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-container .logo {
  margin-left: 70px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav ul li a:hover {
  position: relative;
  border-radius: 5px;
  padding-bottom: 5px;
}

nav ul li a:hover::before {
  content: "";
  position: absolute;
  top: 18px;
  bottom: 0;
  left: 0;
  width: 0;
  height: 7px;
  background-color: #c79354;
  border-radius: 5px;
  animation: border-animation 0.5s ease-in-out forwards;
}

@keyframes border-animation {
  from { width: 0; }
  to { width: 100%; }
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index:2;
  background-color: #5473c700;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  background-clip: padding-box;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
  margin: 8px 7px 10px 0px;
  border-radius: 15px;
}

#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
  border-radius: 15px;
}

#burger-menu span:hover:before {
  left: 0px;
  top: -10px;
  width: 27px;
  border-radius: 15px;
}

#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
  border-radius: 15px;
}

#burger-menu span:hover:after {
  left: 0px;
  top: 10px;
  width: 27px;
  border-radius: 15px;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
  margin: 8px 10px 10px 0px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
  right: 0rem;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  right: 0rem;
  background: #010817d7;
}

#menu li{
  list-style:none;
}

#menu a{
  color:#fff;
  display:block;
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

body {
  margin: 0px;
  background-color: #171A2D;
}

p {
  margin: 0;
}

.logo {
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

li {
  margin: 0 1rem;
}

a {
  color: white;
  text-decoration: none;
  color: white;
}

.title-section {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

.social-icons {
  margin-right: 1rem;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
}

.social-icons a:hover img {
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.home-container {
  background-image: url("../Image/fond-accueil.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.container {
  margin-top: 100px;
}

.content {
  display: flex;
  flex-direction: column;
}

.name-home {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 40px;
  margin-top: 100px;
}

.title {
  color: white;
  font-family: 'Rowdies';
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 150px;
}

.div-arrow {
  display: flex;
  justify-content: center;
}

.arrow {
  height: 25px;
}

.category-filter {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 40px;
  gap: 125px;
  flex-wrap: wrap;
}

.category-filter a {
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;
}

.category-filter a.selected {
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}

.category-item {
  display: none;
}

.category-item[data-category="all"],
.category-item.selected {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: white;
}

.all-category-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-category {
  display: flex;
  justify-content: center;
}


.title-category h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 20px;
  margin-top: 40px;
}


/* designe UI/UX */

.design-uiux {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.upgrade {
  background-image: url(../Image/upgrade-sante.png);
  width: 490px;
  height: 298px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: flex-end;
  margin: 30px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #00000026;
  transition: 1.5s;
}

.upgrade p {
  background-color: #011717CC;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 15px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

.kinetyoga {
  background-image: url(../Image/kinetyoga.png);
  width: 490px;
  height: 298px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: flex-end;
  margin: 30px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #00000026;
  transition: 1.5s;
}

.kinetyoga p {
  background-color: #34373AE5;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 15px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

.sizodor {
  background-image: url(../Image/sizodor.png);
  width: 490px;
  height: 298px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: flex-end;
  margin: 30px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #00000026;
  transition: 1.5s;
}

.sizodor p {
  background-color: #362905CC;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 15px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

/* fin designe UI/UX */



/* Illustration */
.illustration {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* fin Illustration */

/* Photomontage */

.photomontage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.harmonie {
  background-image: url(../Image/harmonie-music.png);
  width: 490px;
  height: 298px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: flex-end;
  margin: 30px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px #00000026;
  transition: 1.5s;
}

.harmonie p {
  background-color: #360505CC;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 15px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
}

/* fin Photomontage */

/* Intégration */
.integration {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* fin Intégration */

.text-btn-behance {
  display: grid;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  width: 100%;
  margin-top: 60px;
  justify-content: center;
  place-items: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.btn-behance {
  border-radius: 5px;
  border: 2px solid #A16D3D;
  background-color: #090e2400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 17px;
  margin-top: 25px;
  transition: 0.5s;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  }

.btn-behance::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.btn-behance:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.btn-behance::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #A16D3D;
    z-index: -1;
    transition: transform 1s ease;
  }
  
.btn-behance {
    position: relative;
  }
  
.picture-middle {
  background-image: url(../Image/fond-millieu.svg);
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  height: 40rem;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  gap: 20px;
}

.about h2 {
  color: white;
  font-family: 'Rowdies';
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}

.about .ligne {
  width: 95px;
  height: 7px;
}

.about p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  margin-top: 20px;
  line-height: 25px;
  max-width: 80%;
}

.cv-btn {
  border-radius: 5px;
  border: 2px solid #A16D3D;
  background-color: #090e2400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 17px;
  margin-top: 25px;
  transition: 0.5s;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  width: fit-content;
}

.cv-btn span {
  margin-right: 15px;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.download-icon {
  width: auto;
  height: auto;
  margin-bottom: 4px;
}

.cv-btn::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.cv-btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cv-btn::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #A16D3D;
  z-index: -1;
  transition: transform 1s ease;
}

.cv-btn {
  position: relative;
}
.section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-skill {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.ligne-separation {
 width: 80%;
}

.skill {
  display: flex;
  margin: 0px 40px 0px 40px;
  flex-wrap: wrap;
}

.skill h2 {
  color: white;
  font-family: 'Rowdies';
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}

.skill p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  max-width: 650px;
}

.skill img{
  width: 350px;
}

.skill-middle {
  display: flex;
  margin: 0px 40px 0px 40px;
  flex-wrap: wrap;
}

.skill-middle h2 {
  color: white;
  font-family: 'Rowdies';
  font-size: 35px;
  font-weight: 400;
  margin: 0;
}

.skill-middle p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
  max-width: 650px;
}

.skill-middle img{
  width: 350px;
}

.title-p-1 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 30px;
}

.title-p-2 {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  gap: 30px;
}

.title-p-3 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 30px;
}

.title-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title-contact h2 {
  color: white;
  font-family: 'Rowdies';
  font-size: 35px;
  font-weight: 400;
  margin: 0;
  margin-top: 100px;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 80px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}

.container-contact p {
  margin: 0;
  text-decoration: none;
}

.contact {
  display: flex;
  gap: 10px;
  margin-right: 50px;
  align-items: center;
}


#linkedin-contact img {
  margin-bottom: 5px;
}

#behance-contact img {
  margin-bottom: 3px;
}

.container-contact img {
  color: #A16D3D;
}

.container-form {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
}

form {
  width: 50%;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
}

label {
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"], input[type="email"], textarea {
  width: 80%;
  border: none;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

input[type="submit"] {
  border-radius: 5px;
  border: 2px solid #A16D3D;
  background-color: #090e2400;
  padding: 10px 17px;
  margin-top: 25px;
  transition: 0.5s;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  width: fit-content;
}

form h2 {
  color: white;
  font-family: 'Rowdies';
  font-size: 35px;
  font-weight: 400;
  width: auto;
  text-align: center;
  line-height: 35px;
  margin: 0;
  margin-bottom: 10px;
}

.title-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.title-form img {
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  background-image: url(../Image/fond-footer.svg);
  gap: 10px;
  padding: 20px 50px 20px 20px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.copyright-name {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-left: 110px;
  margin-bottom: 20px;
  height: 500px;
}

.copyright-name p {
  margin-left: 10px;
}

@media (max-width: 1240px) {

  .container-skill {
    margin-top: 60px;
    gap: 50px;
  }

  .skill {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 90%;
}

.skill-middle {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.img-designui {
  order: 1;
}

.skill-middle h2 {
  order: 2;
}

.skill-middle p {
 order: 3;
}

.title-p-1 {
  margin: 20px 0px 20px 0px;
}

.title-p-2 {
  margin: 20px 0px 20px 0px;
}

.title-p-3 {
  margin: 20px 0px 20px 0px;  
}
}

@media (max-width: 1180px) {

  .category-filter {
    margin-top: 50px;
    gap: 50px;
  }
}

@media (max-width: 980px) {
  a {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .name-home {
    font-size: 40px;
    line-height: 60px;
    margin-top: 60px;
    letter-spacing: 25px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {

nav .nav-container {
  width: 88%;
  padding: 10px 300px 10px 300px;
}

.social-icons {
  order: -2;
}

.arrow {
  margin-top: 4rem;
  }

.category-filter {
    margin-top: 130px;
    gap: 50px;
  }

.home-container {
  background-image: url("../Image/fondaccueil-mobile.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40rem;
}

  .name-home {
    font-size: 30px;
    line-height: 60px;
    margin-top: 60px;
    letter-spacing: 20px;
  }
  
  .title {
    color: white;
    font-family: 'Rowdies';
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 100px;
  }

  .upgrade {
    max-width: 320px;
    height: 297px;
    background-position: center;
    margin: 50px 0px 0px 0px;
  }

  .kinetyoga {
    max-width: 320px;
    height: 297px;
    background-position: center;
    margin: 50px 0px 0px 0px;
  }

  .sizodor {
    max-width: 320px;
    height: 297px;
    background-position: center;
    margin: 50px 0px 50px 0px;
  }

  .harmonie {
    max-width: 320px;
    height: 297px;
    background-position: center;
    margin: 0px 0px 0px 0px;
  }

  .picture-middle {
    background-image: url(../Image/fontmilieu-mobile.svg);
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    height: 40rem;
    width: 100%;
  }

   .container-skill {
    margin-top: 90px;
  }

  .ligne-separation {
    width: 100%;
    }

  .skill img {
    width: 230px;
  }
  
  .skill-middle img {
    order: -1;
    width: 230px;
  }


  .container-contact {
    display: grid;
    margin-top: 50px;
  }

  .title-contact h2 {
    color: white;
    font-family: 'Rowdies';
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    margin-top: 50px;
}

  .contact {
    display: grid;
    justify-items: center;
    margin-right: 0px;
    margin-top: 30px;
  }

  form {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .title-form {
    display: grid;
    justify-items: center;
  }

 .title-form img {
      margin-left: 0;
    }

  .copyright-name {
    margin-left: 0;
  }

  .footer {
    justify-content: center;
    padding: 0 0 30px 0;
  }

}